*{
    padding: 0px 0px 0px 0px;
    margin: auto;
}

#main-container{
    width: 1100px;
    max-width: 2000px;
    margin: 0 auto;
    background-color: none;
    padding-top: 120px;
    font-family: helvetica;
    background-color: none;
}

#navbar{
    padding: 20px; 20px;
    height: 50px;
    width: 100%;
    background-color: white;
    position: fixed;
    color: black;
    opacity: 0.98;
}

#navbar-container{
    width: 1100px;
    padding-top: 10px;
    margin: auto;
}

.navbar-logo{
    float: left;
    margin-right: 50px;
    margin-top: auto;
    font-size: 25px;
    font-family: helvetica-bold;
    letter-spacing: 1px;
    display: inline-block;
    margin-right: 80px;
}

.navbar-menu{
    float: left;
    margin-top: auto;
    font-family: helvetica;
    font-size: 15px;
    letter-spacing: 2px;
    display: inline-block;
}

.navbar-menu li{
    display: inline-block;
    list-style: none;
    margin-right: 15px;
}

.navbar-menu li a{
    text-decoration: none;
    color: black;
}

#left-container{
    width: 60%;
    background-color: none;
    float: left;
    border: none;
    
}

.blog-post{
    float: left;
    padding: 0px 5px 30px 0px;
}


.blog-image{
    max-width: 210px;
    max-height: 210px;
    float: left;
    margin-right: 10px;
}

.blog-post h2{
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

p{
    font-size: 8px;
    color: black;
}

.blog-post p{
    font-size: 15px;
}

#right-container{
    width: 35%;
    background-color: none;
    float: right;
}

.right-container-post{
    display: inline-block;
    margin-bottom: 10px;
    
}

.right-nav-image{
    width: 130px;
    height: 130px;
    padding-right: 10px;
    float: left;  
}
.right-container-post p{
    font-size: 10px;
}

.right-container-post h2{
    font-size: 12px;
    margin-bottom: 10px;   
}

hr{
    border: 1px solid none;
    background-color: grey;
    height: 1px;
    width: 99%;
}